.container{

    justify-content: center;
    text-align: center;
}

.dropdown{
    top: 0;
}

.table {
    align-items: center
}

.headings {
    font-size: 2rem;

    th{
        padding: 1rem;
    }
 
}

.rows {
    text-align: center;

    td{
        padding: .5rem;
    }
}

.winner {
    background-color: greenyellow;
}

.looser{
    background-color: red;
}

.draw{
    background-color: orange;
}