$color-light: #fff;
$gradient-pattern: linear-gradient(90deg, rgb(51, 51, 128) 0%, rgb(59, 78, 78) 41%, rgba(42,0,71,1) 100%);
$color-win:#1bc337;
$color-loose: #e64747;
$color-draw: #e49132;

$transition: all 0.5s;